FLASK_APP=[app, wsgi]
FLASK_ENV=[development, production]
FLASK_DEBUG=[0, 1]
FLASK_SECRET_KEY=[YOUR_SECRET_KEY]
MYSQL_URI=mysql+pymysql://[username]:[password]@[host]/[database_name]
REDIS_URI=redis://redis:6379